<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{welcome.page.title}">Title</title>
</head>
<body>
<h2 th:text="#{welcome.mainHeading}">main heading</h2><br>

<br>
<p th:text="#{welcome.page.mainHeading}">rendered by message dot properties</p>

<a href="/selection">LINK TO SELECTION PAGE</a>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<h4 th:replace="fragments/footer :: footer_frag">FRAGMENT</h4>





</body>
</html>